
@{
    ViewData["Title"] = "Chat";
}

    <div class="container">
        <div class="row">
            <div class="col-md-6">                
        <div class="row">
            <div class="col-2">User</div>
            <div class="col-4">
                <label></label>
                <input type="text" id="userInput" value="@User.Identity.Name"/>
            </div>
        </div>
        <div class="row">
            <div class="col-2">Message</div>
            <div class="col-4"><input type="text" id="messageInput"  /></div>
        </div>       
        <div class="row">
            <div class="col-6">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div> <br />

        <div class="row">
            <div class="col-6">
                <input type="button" id="addGroup" value="AddGroup" />
            </div>
        </div>
         <div class="row">
                  <div class="col-6">
                     <ul id="messagesList">
               
                     </ul>
                   </div>
              </div>
       </div>
       <div>
           <div id="groupmessagesH1">

           </div>
            <div class="row">
                  <div class="col-6">
                     <ul id="groupmessagesList">
               
                     </ul>
                   </div>
              </div>
       </div>

        <div class="col-md-6">
           <ul class="list-group">
             @foreach (var item in ViewBag.Userlar)
            {
              <li id="@item.Id" class="list-group-item"> 
               <span class="@(item.ConnectId==null? "bg-offline":"bg-online")" style="display:inline-block; height: 20px; width: 20px; border-radius: 50%;">
                </span> 
                <a asp-action="PrivateSend" asp-route-id="@item.Id">
                    @item
                </a>                  
               </li>
            }    
         </ul>
       </div>  

      <div class="col-md-6">
             <form>
               
             @foreach (var item in ViewBag.Userlar)
            {     
               <div class="form-check">
               <input class="form-check-input" type="checkbox" value="@item.UserName" id="@item.Id">
                <label class="form-check-label" for="flexCheckDefault">
                 @item.UserName
               </label>
               </div>      
              
            }    
           </form>
     </div>  
   
    </div>
 </div>
    




    @section Scripts{
        <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js">

        </script>
        <script>
            var connection = new signalR.HubConnectionBuilder().withUrl("/chat").build();
            connection.start();

            $("#sendButton").click(function() {
            let user = $("#userInput").val();
            let message = $("#messageInput").val();
                connection.invoke("SendMessage", user, message);
             })

           
            connection.on("Userconnect", function(userId){
                $(`#${userId}`).find("span").addClass("bg-online");
                $(`#${userId}`).find("span").removeClass("bg-offline");
            })
            connection.on("Userdisconnect", function(userId){
                $(`#${userId}`).find("span").addClass("bg-offline");
                $(`#${userId}`).find("span").removeClass("bg-online");
            })
            connection.on("PrivateMessage", function() {
                   alert("salam")
            })



        </script>
    }


